<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <div class="centered">
        <h1>Some error occurred!</h1>
        <p>Sorry for the inconvenience, we are currently working on fixing this!</p>
    </div>

    <%- include('includes/end.ejs') %>
