.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}

.form-control input,
.form-control textarea {
  padding: 0.35rem;
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 4px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline-color: #00695c;
}

.form-control input.invalid,
.form-control textarea.invalid {
  border-color: #d32f2f;
  background-color: #f8d7da;
}

.form-control input[type="number"]::-webkit-inner-spin-button,
.form-control input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control input[type="number"] {
  -moz-appearance: textfield;
}
